In [1]:
import pandas as pd
import datetime
from datetime import date, time
from math import sin, cos, sqrt, atan2, radians

In [2]:
bike_19_csv = "Resources/201906-citibike-tripdata.csv"
bike_20_csv = "Resources/202006-citibike-tripdata.csv"

In [3]:
bike_19_df = pd.read_csv(bike_19_csv)
bike_19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [4]:
bike_20_df = pd.read_csv(bike_20_csv)
bike_20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [5]:
# Convert start time strings to datetime values
bike_19_df['starttime'] = pd.to_datetime(bike_19_df['starttime'])

bike_20_df['starttime'] = pd.to_datetime(bike_20_df['starttime'])

In [6]:
# convert start times to separate date and time values
bike_19_df['startdate'] = [d.date() for d in bike_19_df['starttime']]
bike_19_df['starttime'] = [d.time() for d in bike_19_df['starttime']]

bike_20_df['startdate'] = [d.date() for d in bike_20_df['starttime']]
bike_20_df['starttime'] = [d.time() for d in bike_20_df['starttime']]

In [7]:
# Convert stop time strings to datetime values
bike_19_df['stoptime'] = pd.to_datetime(bike_19_df['stoptime'])

bike_20_df['stoptime'] = pd.to_datetime(bike_20_df['stoptime'])

In [8]:
# convert stop times to separate date and time values
bike_19_df['stopdate'] = [d.date() for d in bike_19_df['stoptime']]
bike_19_df['stoptime'] = [d.time() for d in bike_19_df['stoptime']]

bike_20_df['stopdate'] = [d.date() for d in bike_20_df['stoptime']]
bike_20_df['stoptime'] = [d.time() for d in bike_20_df['stoptime']]

In [9]:
# Update column order
bike_19_df = bike_19_df[['tripduration','startdate','starttime','stopdate','stoptime','start station id','start station name','start station latitude','start station longitude','end station id','end station name','end station latitude','end station longitude','bikeid','usertype','gender','birth year']]

bike_20_df = bike_20_df[['tripduration','startdate','starttime','stopdate','stoptime','start station id','start station name','start station latitude','start station longitude','end station id','end station name','end station latitude','end station longitude','bikeid','usertype','gender','birth year']]

In [10]:
# Convert tripduration to minutes
bike_19_df['tripduration'] = bike_19_df['tripduration'] / 60

bike_20_df['tripduration'] = bike_20_df['tripduration'] / 60

In [11]:
# drop gender values of 0
bike_19_df = bike_19_df.loc[bike_19_df['gender'] > 0, :]

bike_20_df = bike_20_df.loc[bike_20_df['gender'] > 0, :]

In [12]:
# drop rides with tripduration less than 2 minutes that are returned to the same location, assuming these bikes had something wrong with them
bike_19_df = bike_19_df.loc[(bike_19_df['tripduration'] > 2) & (bike_19_df['start station id'] != bike_19_df['end station id']), :]

bike_20_df = bike_20_df.loc[(bike_20_df['tripduration'] > 2) & (bike_20_df['start station id'] != bike_20_df['end station id']), :]

In [13]:
# drop rides with tripduration greater than 24 hours, assuming these bikes were stolen
bike_19_df = bike_19_df.loc[bike_19_df['tripduration'] < 24, :]

bike_20_df = bike_20_df.loc[bike_20_df['tripduration'] < 24, :]

In [14]:
# convert gender to strings
bike_19_df['gender'] = bike_19_df['gender'].replace({1: "male", 2: "female"})

bike_20_df['gender'] = bike_20_df['gender'].replace({1: "male", 2: "female"})

In [15]:
# convert birth year to approximate age
bike_19_df['birth year'] = 2019 - bike_19_df['birth year']
bike_20_df['birth year'] = 2020 - bike_20_df['birth year']

# Rename columns
bike_19_df = bike_19_df.rename(columns={'birth year':'approximate age', 'tripduration': 'tripduration (min)'})

bike_20_df = bike_20_df.rename(columns={'birth year':'approximate age', 'tripduration': 'tripduration (min)'})

In [16]:
# drop rides where user is over the age of 90
bike_19_df = bike_19_df.loc[bike_19_df['approximate age'] < 90]

bike_20_df = bike_20_df.loc[bike_20_df['approximate age'] < 90]

In [17]:
# create bins to separate riders by age
bins = [0, 17, 30, 45, 60, 75, 90]
labels = ['0-17', '18-30', '31-45', '46-60', '61-75', '76-90']

bike_19_df['age group'] = pd.cut(bike_19_df["approximate age"], bins, labels=labels)

bike_20_df['age group'] = pd.cut(bike_20_df["approximate age"], bins, labels=labels)

In [18]:
# combine start station id and end station id for RideID
bike_19_df['RideID'] = bike_19_df['start station id'].map(str) + '_' + bike_19_df['end station id'].map(str)

bike_20_df['RideID'] = bike_20_df['start station id'].map(str) + '_' + bike_20_df['end station id'].map(str)

### Calculate the distance traveled on each ride for 2019

In [19]:
# First, convert degrees to radians
start_lat_19 = [radians(lat) for lat in bike_19_df['start station latitude']]
start_lon_19 = [radians(lon) for lon in bike_19_df['start station longitude']]
end_lat_19 = [radians(lat) for lat in bike_19_df['end station latitude']]
end_lon_19 = [radians(lon) for lon in bike_19_df['end station longitude']]

# Next, convert these lists into series
start_lat_19 = pd.Series(start_lat_19)
start_lon_19 = pd.Series(start_lon_19)
end_lat_19 = pd.Series(end_lat_19)
end_lon_19 = pd.Series(end_lon_19)

# Calculate the difference between each pair of lat and lon
dist_lat_19 = end_lat_19 - start_lat_19
dist_lon_19 = end_lon_19 - start_lon_19

In [20]:
# approximate radius of earth in km
R = 6373.0

# create an empty list to store each trips distance
distances_19 = []

# loop through each pair of lat and lon and append the distance to our list
for i in range(0, len(start_lat_19)):
    a = sin(dist_lat_19[i] / 2)**2 + cos(start_lat_19[i]) * cos(end_lat_19[i]) * sin(dist_lon_19[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Calculate distance and convert km to miles
    miles = (R * c) * .6214

    # Append the miles traveled into our distances list
    distances_19.append(miles)

In [21]:
# Create new column to display the calculated distance in miles
bike_19_df['distance (mi)'] = distances_19

In [22]:
bike_19_df

,tripduration (min),startdate,starttime,stopdate,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,approximate age,age group,RideID,distance (mi)
0,5.500000,2019-06-01,00:00:01.500000,2019-06-01,00:05:31.760000,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,male,27,18-30,3602_3570,0.533976
1,13.833333,2019-06-01,00:00:04.240000,2019-06-01,00:13:55.147000,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,female,32,31-45,3054_3781,1.367325
2,6.333333,2019-06-01,00:00:06.019000,2019-06-01,00:06:26.779000,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,female,29,18-30,229_326,0.519569
3,19.250000,2019-06-01,00:00:06.776000,2019-06-01,00:19:22.538000,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,male,32,31-45,3771_3016,1.752739
4,17.583333,2019-06-01,00:00:07.520000,2019-06-01,00:17:42.558000,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,male,46,46-60,441_3159,1.531607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,3.866667,2019-06-30,23:59:32.892000,2019-07-01,00:03:25.631000,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,male,47,46-60,3113_3107,0.502832
2125366,7.950000,2019-06-30,23:59:33.699000,2019-07-01,00:07:31.044000,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,female,38,31-45,445_3737,0.525936
2125367,5.000000,2019-06-30,23:59:47.405000,2019-07-01,00:04:48.185000,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,male,38,31-45,3307_3320,0.589006
2125368,15.100000,2019-06-30,23:59:51.598000,2019-07-01,00:14:58.321000,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,male,23,18-30,402_400,1.512954
2125369,21.166667,2019-06-30,23:59:54.367000,2019-07-01,00:21:05.275000,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,male,52,46-60,3788_326,0.360022

### Calculate the distance traveled on each ride for 2020

In [23]:
# First, convert degrees to radians
start_lat_20 = [radians(lat) for lat in bike_20_df['start station latitude']]
start_lon_20 = [radians(lon) for lon in bike_20_df['start station longitude']]
end_lat_20 = [radians(lat) for lat in bike_20_df['end station latitude']]
end_lon_20 = [radians(lon) for lon in bike_20_df['end station longitude']]

# Next, convert these lists into series
start_lat_20 = pd.Series(start_lat_20)
start_lon_20 = pd.Series(start_lon_20)
end_lat_20 = pd.Series(end_lat_20)
end_lon_20 = pd.Series(end_lon_20)

# Calculate the difference between each pair of lat and lon
dist_lat_20 = end_lat_20 - start_lat_20
dist_lon_20 = end_lon_20 - start_lon_20

In [24]:
# approximate radius of earth in km
R = 6373.0

# create an empty list to store each trips distance
distances_20 = []

# loop through each pair of lat and lon and append the distance to our list
for i in range(0, len(start_lat_20)):
    a = sin(dist_lat_20[i] / 2)**2 + cos(start_lat_20[i]) * cos(end_lat_20[i]) * sin(dist_lon_20[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Calculate distance and convert km to miles
    miles = (R * c) * .6214

    # Append the miles traveled into our distances list
    distances_20.append(miles)

In [25]:
# Create new column to display the calculated distance in miles
bike_20_df['distance (mi)'] = distances_20

In [26]:
bike_20_df

,tripduration (min),startdate,starttime,stopdate,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,approximate age,age group,RideID,distance (mi)
2,16.950000,2020-06-01,00:00:09.614000,2020-06-01,00:17:06.833000,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,female,32,31-45,389_3562,2.363457
4,23.950000,2020-06-01,00:00:21.255000,2020-06-01,00:24:18.965000,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,female,23,18-30,367_497,1.784706
5,5.916667,2020-06-01,00:00:22.650000,2020-06-01,00:06:18.525000,248,Laight St & Hudson St,40.721854,-74.007718,247,Perry St & Bleecker St,40.735354,-74.004831,39594,Subscriber,male,30,18-30,248_247,0.945281
12,8.816667,2020-06-01,00:00:58.910000,2020-06-01,00:09:48.827000,3610,Vernon Blvd & 30 Rd,40.770845,-73.934171,3523,24 Ave & 29 St,40.772900,-73.916142,40937,Subscriber,female,36,31-45,3610_3523,0.954345
13,11.583333,2020-06-01,00:00:59.957000,2020-06-01,00:12:35.700000,3708,W 13 St & 5 Ave,40.735445,-73.994310,3740,W Broadway & W Houston St,40.726378,-74.000472,33199,Subscriber,male,31,31-45,3708_3740,0.704919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882267,6.616667,2020-06-30,23:59:39.420000,2020-07-01,00:06:17.044000,3263,Cooper Square & Astor Pl,40.729515,-73.990753,223,W 13 St & 7 Ave,40.737815,-73.999947,32938,Subscriber,male,35,31-45,3263_223,0.748991
1882268,11.416667,2020-06-30,23:59:41.116000,2020-07-01,00:11:06.779000,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,female,27,18-30,503_3746,1.320752
1882270,7.316667,2020-06-30,23:59:47.477000,2020-07-01,00:07:06.559000,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,male,34,31-45,3699_523,0.628495
1882271,14.833333,2020-06-30,23:59:53.395000,2020-07-01,00:14:43.427000,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,male,26,18-30,3852_3054,1.574918
1882272,7.216667,2020-06-30,23:59:53.901000,2020-07-01,00:07:07.095000,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,male,30,18-30,324_261,0.362780